---
import { SITE_TITLE } from '../consts';
---

<header>
	<h2><a href="/">{SITE_TITLE} 👅</a></h2>
</header>
<style>
	header {
		margin: 0 auto;
		max-width: var(--content-width);
		padding: 1rem 0 0 1em;
	}
	h2 {
		margin: 0; padding: 0;
		font-size: 1.2em;
	}

	h2 a, h2 a.active { text-decoration: none; }

	@media (max-width: 760px) {
		h2 { text-align: center; }
	}
</style>
