---
import { getCurrentLang, LANG_EN, LANG_ES, LANG_PT, LOCALE } from "../lib/lang"
import FormattedDate from './FormattedDate.astro';

interface Props {
	date: Date;
}

const { date } = Astro.props;

const translation = {
  [LANG_PT]: {
    label: 'Atualizado em',
    locale: LOCALE[LANG_PT],
  },
  [LANG_EN]: {
    label: 'Last updated on',
    locale: LOCALE[LANG_EN],
  },
  [LANG_ES]: {
    label: 'Actualizado el',
    locale: LOCALE[LANG_ES],
  },
} as const;

const strings = translation[getCurrentLang(Astro.url)];
---

<div class="last-updated-on">
	{strings.label} <FormattedDate date={date} locale={strings.locale} />
</div>

